@font-face{
    font-family: 'GameofThrones';
    src: url('../font/game-of-thrones/Game\ of\ Thrones.ttf');
    font-style: normal;
    font-weight: normal;
}

.b-home {
    background-image: url("../assets/image\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__title {
        color: white;
        font-size: 9rem;
        line-height: 11rem;
        width: 1367px;
        height: 390px;
        text-align: center;
        font-family: "GameofThrones";
    }
}
