@font-face{
    font-family: 'GameofThrones';
    src: url('../font/game-of-thrones/Game\ of\ Thrones.ttf');
    font-style: normal;
    font-weight: normal;
}

.nav{
    position:fixed;
    bottom: 0px;

    height: 80px;

    &--container{
        font-family: 'GameofThrones';
        
        
        a{
        text-decoration: none;
        color: white;
        font-size: 26px;
        }
    }
}