@font-face{
    font-family: 'GameofThrones';
    src: url('../font/game-of-thrones/Game\ of\ Thrones.ttf');
    font-style: normal;
    font-weight: normal;
}

.nav{
    position:fixed;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    height: 10vh;

    &--container{
        font-family: 'GameofThrones';
        
        .active{
            transition: 500ms ;
            text-shadow: yellow 0px 0px 13px;
        }
        
        a{
        text-decoration: none;
        color: white;
        font-size: 26px;
        transition: 500ms ;
        }
    }
}