.container-search{
    height: 10vh;
    background-color: black;

    &--container-lenguage{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 29px;
        height: 32px;
    }

    &--div{
        border-bottom: 1px solid white;
        width: 50%;
        &--input{
            height: 32px;
            background-color: black;
            border: 0;
            outline-style: none;
            color: white;
            font-size: 22px;
            &::placeholder{
                color: rgba(255, 255, 255, 0.581)
            }
        }
    }
}